# Python
**/__pycache__/
**/.vscode/

# CMake
**/build/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/*.a
**/*.o
**/bin/
lib/LJA/**/CTestTestfile.cmake
lib/LJA/**/generated/*.pc
src/analysis/trim_header
src/analysis/replace_n